<dialog id="<%= @modal_id %>" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg"><%= @modal_title %></h3>
    <div class="flex items-center">
      <%= content %>
    </div>
    <div class="modal-action">
      <button class="btn">Close</button>
      <% if @btn_name.present? %>
        <%= link_to @btn_name, @btn_path, data: { turbo_method: @btn_method }, class: @btn_classes %>
      <% end %>
    </div>
  </form>
</dialog>
