<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="card text-center p-4 border border-light bg-peppers">
    <div class="row m-2">
      <div class="col">
        <%= image_tag "sauced_text.png", class: "sauced-text-logo" %>
      </div>
    </div>
    <div class="row">
      <div class="col mb-5">
        <small class="text-white">A cute witty line about being sauced</small>
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
        <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-outline-light-custom text-white px-5 border border-light rounded-pill" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to "LOGIN", new_user_session_path, class: "btn btn-outline-light-custom text-white px-5 border border-light rounded-pill" %>
      </div>
    </div>
  </div>
</div>
