<% content_for :title do %>
  Home
<% end %>
<% if !turbo_native_app? %>
  <h4 class="mt-4 text-4xl mb-4 display-4 text-light text-center">Sauced Feed</h4>
<% end %>
<% @feed_items.map do |feed_item| %>
  <div class="container flex flex-col justify-center items-center mx-auto px-4">
    <%= render partial: "feed_items/#{feed_item.feedable_type.downcase}", locals: { feed_item: feed_item } %>
  </div>
<% end %>
