<div class="text-center d-flex justify-content-center align-items-center">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h1>Editing Hotsauce</h1>
    </div>
    <div class="card-body">
      <%= render "form", hotsauce: @hotsauce %>
      <br>
      <div class="text-center">
        <%= link_to "Show this hotsauce", @hotsauce, class: "btn btn-secondary my-2" %>
        <%= link_to "Back to hotsauces", hotsauces_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>