<h1>Editing hotsauce</h1>

<%= render "form", hotsauce: @hotsauce %>

<br>

<div class="text-center">
  <%= link_to "Show this hotsauce", @hotsauce %> |
  <%= link_to "Back to hotsauces", hotsauces_path %>
</div>
