<div class="text-center">
  <h1>New hotsauce</h1>

  <%= render "form", hotsauce: @hotsauce %>

  <br>

  <div>
    <%= link_to "Back to hotsauces", hotsauces_path, class: "btn btn-secondary" %>
  </div>
</div>
