<% content_for :title do %>
  New Hot Sauce
<% end %>
<div class="w-fit mt-10 container mx-auto my-auto">
  <div class="flex justify-center items-center text-center">
    <%= render CardComponent.new(container_classes: "mb-4") do %>
      <div>
        <h5 class="text-xl">New Sauce</h5>
        <%= render "form", hotsauce: @hotsauce %>
        <br>
        <%= render AlternativeButtonComponent.new(btn_name: "Back to hotsauces", btn_path: hotsauces_path, is_link: true) %>
      </div>
    <% end %>
  </div>
</div>
