<div class="text-center">
  <%= render @hotsauce %>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <%= link_to "Edit this Hotsauce", edit_hotsauce_path(@hotsauce), class: "btn btn-primary m-2" %>
    <%= link_to "Back to Hotsauces", hotsauces_path, class: "btn btn-secondary m-2" %>
    <%= button_to "Delete This Hotsauce", @hotsauce, method: :delete, class: "btn btn-danger" %>
  </div>
</div>