@import "bootstrap";

.sauce-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
}

.avatar {
  border-radius: 100%;
  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  top: 100%;
  left: -48px !important;
}