@import "bootstrap";

.sauce-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
}

.avatar {
  border-radius: 100%;
  &:hover {
    cursor: pointer;
  }
}

.dropdown-menu {
  top: 100%;
  left: -48px !important;
}

.hot-sauce-card {
  background-image: url(assets/peppers.jpeg);
  background-size: 100%;
}

p {
  color: azure;
}

strong {
  color: azure;
}

.btn-primary {
  background-color: maroon;
  border-color: maroon;
}

.card-title {
  color: azure;
  border-color: black;
}

.card {
  border-color: black;
}

.main-layout {
  background-image: url(assets/flames.jpeg);
  background-size: 100%;
}

.navbar {
  background-image: url(assets/flames.jpeg);
  background-size: 75%;
}

.tagline {
  color: azure;
}

h1 {
  color: azure;
}

body {
  background-image: url(assets/flames.jpeg);
  background-size: 100%;
}