@import "./actiontext.css";

body {
  touch-action: pan-y;
}

.sauce-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
}

.dropdown-menu {
  top: 100%;
  left: -48px !important;
}

.bg-peppers {
  background-image: url(asset_path("peppers.jpeg"));
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-peppers-2 {
  height: 338px !important;
  width: 100%;
}

.bg-flames {
  background-image: url(asset_path("flames.jpeg"));
  background-size: cover;
  background-position: center;
}
